/* cairo-regular - arabic */

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('bootstrap/fonts/cairo-v2-arabic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Cairo'), local('Cairo-Regular'),
    url('bootstrap/fonts/cairo-v2-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('bootstrap/fonts/cairo-v2-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('bootstrap/fonts/cairo-v2-arabic-regular.woff') format('woff'), /* Modern Browsers */
    url('bootstrap/fonts/cairo-v2-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('bootstrap/fonts/cairo-v2-arabic-regular.svg#Cairo') format('svg');
    /* Legacy iOS */
}

/* cairo-600 - arabic */

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    src: url('bootstrap/fonts/cairo-v2-arabic-600.eot');
    /* IE9 Compat Modes */
    src: local('Cairo SemiBold'), local('Cairo-SemiBold'),
    url('bootstrap/fonts/cairo-v2-arabic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('bootstrap/fonts/cairo-v2-arabic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('bootstrap/fonts/cairo-v2-arabic-600.woff') format('woff'), /* Modern Browsers */
    url('bootstrap/fonts/cairo-v2-arabic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('bootstrap/fonts/cairo-v2-arabic-600.svg#Cairo') format('svg');
    /* Legacy iOS */
}

/* cairo-700 - arabic */

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: url('bootstrap/fonts/cairo-v2-arabic-700.eot');
    /* IE9 Compat Modes */
    src: local('Cairo Bold'), local('Cairo-Bold'),
    url('bootstrap/fonts/cairo-v2-arabic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('bootstrap/fonts/cairo-v2-arabic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('bootstrap/fonts/cairo-v2-arabic-700.woff') format('woff'), /* Modern Browsers */
    url('bootstrap/fonts/cairo-v2-arabic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('bootstrap/fonts/cairo-v2-arabic-700.svg#Cairo') format('svg');
    /* Legacy iOS */
}

/* amiri-regular - arabic */

@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    src: url('bootstrap/fonts/amiri-v9-arabic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Amiri Regular'), local('Amiri-Regular'),
    url('bootstrap/fonts/amiri-v9-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('bootstrap/fonts/amiri-v9-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('bootstrap/fonts/amiri-v9-arabic-regular.woff') format('woff'), /* Modern Browsers */
    url('bootstrap/fonts/amiri-v9-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('bootstrap/fonts/amiri-v9-arabic-regular.svg#Amiri') format('svg');
    /* Legacy iOS */
}

/* amiri-700 - arabic */

@font-face {
font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    src: url('bootstrap/fonts/amiri-v9-arabic-700.eot');
    /* IE9 Compat Modes */
    src: local('Amiri Bold'), local('Amiri-Bold'),
    url('bootstrap/fonts/amiri-v9-arabic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('bootstrap/fonts/amiri-v9-arabic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('bootstrap/fonts/amiri-v9-arabic-700.woff') format('woff'), /* Modern Browsers */
    url('bootstrap/fonts/amiri-v9-arabic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('bootstrap/fonts/amiri-v9-arabic-700.svg#Amiri') format('svg');
    /* Legacy iOS */
}

body {
    direction: rtl;
    color: #2980C5;
    background-color: #ECF0F1;
    font-size: 14px;
    font-family: 'Cairo';
    font-weight: 600;

}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;

    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    color: #990000;
    font-weight: lighter;
}

.form-signin .form-signin-heading {
    color: #00A2D1;
    text-align: center;
}

h2.form-signin-heading{
    font-size:22px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form,
.body-container {
    margin-top: 110px;
}


#btn-submit {
    height: 45px;
}
